@font-face {
    font-family: noto;
    src: url(../fonts/NotoSerif-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: noto;
    src: url(../fonts/NotoSerif-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: noto;
    src: url(../fonts/NotoSerif-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: noto;
    src: url(../fonts/NotoSerif-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: noto;
    src: url(../fonts/NotoSerif-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: noto;
    src: url(../fonts/NotoSerif-SemiBold.ttf);
    font-weight: 600;
}