* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1680px;
    margin: 0 auto;
}

.container--small {
    width: 1410px;
}

.header {
    padding: 40px 0 35px 0;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__listitem {
    display: flex;
    list-style-type: none;
    width: 432px;
    justify-content: space-between;
}

.header__user {
    display: flex;
    align-items: center;
}

.header__account {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.header__account-icon {
    margin-right: 10px;
    width: 18px;
    height: 20px;
}

.header__divider {
    height: 20px;
    width: 1px;
    background-color: #F1E0DD;
    margin-right: 15px;
}

.header__search-icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.main {
    height: 1077px;
}

.main__wrapper {
    position: relative;
}

.carousel__inner {
    background: url('/img/main_bg.png') center / cover no-repeat;
    height: 1000px;
    object-fit: cover;
    padding: 285px 135px;
}

.carousel__btn {
    margin-top: 50px;
}

.main__nav {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.nav__prev {
    margin-right: 20px;
}

.nav__prev::before, .nav__next::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: translateX(175%) rotate(45deg);
}

.nav__next {
    margin-right: 30px;
}

.nav__next::before {
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: none;
    border-left: none;
    transform: translateX(150%) rotate(45deg);
}

.nav__divider {
    width: 234px;
    height: 1px;
    background-color: #F5EBE9;
    margin-right: 30px;
}

.nav__currentpage {
    font-size: 24px;
}

.main__order {
    position: absolute;
    display: flex;
    width: 1185px;
    height: 155px;
    padding: 45px;
    box-shadow: 5px 5px 50px lightgray;
    right: 0;
    bottom: 0;
    background-color: white;
    justify-content: space-between;
}

.main__listitem {
    list-style-type: none;
    display: flex;
    gap: 60px;
}

.main__item {
    position: relative;
    width: 240px;
    height: 65px;
}

.main__item::after {
    content: '';
    width: inherit;
    height: 1px;
    background-color: #F5EBE9;
    position: absolute;
    bottom: 0;
    left: 0;
}

.main__input {
    width: inherit;
    border: none;
    margin-top: 10px;
}

.advantages {
    height: 686px;
    padding: 180px 0;

}

.advantages__listitem {
    list-style-type: none;
    display: flex;
    margin: 0 auto 0 auto;
    width: 1394px;
    justify-content: space-between;
    align-items: center;
}

.advantages__item {
    width: 326px;
    height: 326px;
    background-color: #F8F8F8;
    box-shadow: 10px 20px 30px lightgray;
    text-align: center;
    padding: 30px 36px 0px 36px;
}

.advantages__img {
    display: block;
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin: 0 auto;
}

.advantages__title {
    margin-top: 24px;
}

.advantages__descr {
    margin-top: 20px;
}

.destinations {
    padding: 90px 0;
    position: relative;
    min-height: 580px;
}

.destinations__block {
    position: absolute;
    height: 580px;
    width: 789px;
    background-color: #F6F6F6;
    right: 0;
    top: 0;
}

.destinations__wrapper {
    display: flex;
    align-items: center;
}

.destinations__text {
    width: 420px;
    margin-right: 75px;
}

.destinations__descr {
    margin-top: 40px;
}

.destinations__btn {
    margin-top: 60px; 
}

.destinations__listitem {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.destinations__item {
    width: 330px;
    height: 400px;
    z-index: 1;
    position: relative;
    
}

.cuba {
    background: linear-gradient(transparent, 90%, black), url('/img/cuba_bg.png') center / cover no-repeat, linear-gradient(to bottom, transparent, black);
}

.paris {
    background: linear-gradient(transparent, 90%, black), url('/img/paris_bg.png') center / cover no-repeat;
}

.japan {
    background: linear-gradient(transparent, 90%, black), url('/img/japan_bg.png') center / cover no-repeat;
}

.destinations__item-title {
    font-size: 28px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.offer {
    padding: 180px 0;
    position: relative;
}

.offer__img {
    width: 570px;
    height: 700px;
    object-fit: cover;
}

.offer__wrapper {
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offer__dropdown {
    width: 690px;
}

.offer__listitem {
    list-style-type: none;
}

.offer__text-title {
    font-weight: 600;
}

.offer__listitem {
    margin-top: 82px;
}

.offer__item {
    position: relative;
    margin-top: 96px;
    width: inherit;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.offer__icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transform: translateY(-7px);
}

.offer__item:first-child {
    margin-top: 0;
}

.offer__item::after {
    position: absolute;
    content: '';
    width: 600px;
    height: 1px;
    background-color: #F1E0DD;
    bottom: -50px;
    left: 90px;
}

.offer__item:last-child::after {
    display: none;
}

.offer__text-descr {
    margin-top: 25px;
}

.offer__text-descr--hidden {
    display: none;
}

.offer__square {
    width: 142px;
    height: 142px;
    background-color: #FFCA45;
    position: absolute;
    border-radius: 10%;
    top: 0;
    left: 0;
    transform: translate(500%, 130%);
    z-index: -1;
}

.offer__circle {
    position: absolute;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 7px solid #FF5B65;
    top: 50%;
    left: 0;
    transform: translateX(150%);
}

.offer__square-point {
    position: absolute;
    width: 170px;
    height: 170px;
    bottom: 0;
    left: 0;
    transform: translate(90%, -60%);
    z-index: -1;
}

.point {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #B4CDFF;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}

.row:first-child {
    margin-top: 0;
}

.choose {
    padding-top: 180px;
}

.choose__title {
    text-align: center;
}

.choose__listitem {
    list-style-type: none;
    margin-top: 299px;
    display: flex;
    justify-content: space-between;
}

.choose__img {
    position: relative;
    width: 450px;
    height: 535px;
    object-fit: cover;
}

.choose__img-1 {
    background-image: url('/img/place-1.png');
}

.choose__img-2 {
    background-image: url('/img/place-2.png');
    transform: translateY(-199px)
}

.choose__img-3 {
    background-image: url('/img/place-3.png');
}

.choose__wrapper {
    position: absolute;
    padding: 20px 34px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 105px;
    background-color: white;
    box-shadow: 10px 20px 30px lightgray;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
    align-items: center;
}

.choose__info-descr {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.choose__info-rating {
	display: inline-block;
	font-size: 0;
    margin-left: auto;
    margin-right: 5px;
}

.choose__info-rating span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: lightgrey;
}

.choose__info-rating > span:before {
	content: '★';
    color: gold;
    
}

.choose__btn {
    transform: translate(46%, -15px);
}
